<div>
  <h1>Mumbai to Goa booking with {{title}} </h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim id pariatur maiores vel optio quaerat ea dolorum quasi dolore,
    sunt doloremque nam, aliquid nulla veniam, voluptatem totam molestias! Unde provident voluptates nulla quia quisquam
    nostrum mollitia, molestias sunt neque, delectus illo sit, error fugit! Voluptatum dolorum velit veniam. Facilis sunt
    voluptatum dolorem cum dolorum dignissimos voluptatibus dolore alias at non odio, vitae beatae consequatur fugit itaque
    obcaecati iste, adipisci recusandae architecto eius atque aspernatur eaque. A hic officiis accusamus et corporis sunt
    modi minima placeat suscipit saepe possimus molestiae, sit, amet ut odit. Dolorum in commodi quae iusto ipsa quibusdam.</p>
</div>